{% extends "dashboard.html" %}

{% block title %} <title>Admin | Dashboard</title>{% endblock %}

{% block content %}
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card  card-design">
                    <img src="{{ url_for('views.images', filename='quiz.jpg') }}" class="card-img-top" alt="quiz.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Manage Accounts</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="{{ url_for('auth.accounts') }}" class="btn btn-warning btn-links-hover">View Accounts</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-design">
                    <img src="{{ url_for('views.images', filename='quiz.jpg') }}" class="card-img-top" alt="quiz.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Create Quiz</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="{{ url_for('views.createquiz')}}" class="btn btn-warning btn-links-hover">Create Quiz</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-design">
                    <img src="{{ url_for('views.images', filename='quiz.jpg') }}" class="card-img-top" alt="quiz.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Activity Log</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="{{ url_for('auth.logs')}}" class="btn btn-warning btn-links-hover">View Logs</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-design">
                    <img src="{{ url_for('views.images', filename='quiz.jpg') }}" class="card-img-top" alt="quiz.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Quiz Bank</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <a href="{{ url_for('views.quizbank')}}" class="btn btn-warning btn-links-hover">Quiz Bank</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

{% endblock %}