{% extends 'dashboard.html '%}
{% block content %}
    <div class="container mt-5 bg-night rounded p-5">
        <h1 class="ms-2">Create Quiz</h1>
        <form action="" method="POST" class="form-properties">
            <div class="container">
                {{ form.hidden_tag() }}
                {{ form.title.label(class='text-light') }}
                {{ form.title(class='text-dark') }}
                {{ form.category.label(class='text-light') }}
                {{ form.category(class='text-dark form-select form-select-lg mt-1') }}
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="mb-3">
                        <label for="startdate">Start Date</label>
                        <input type="date" id="startdate" name="startdate" class="form-control datetimepicker-input datetimepicker-date">
                    </div>
                </div>
                <div class="col-2">
                    <div class="mb-3">
                        <label for="starttime">Start Time</label>
                        <input type="time" name="starttime" id="starttime" class="form-control datetimepicker-input datetimepicker-date">
                    </div>
                </div>
                <div class="col-2">
                    <div class="mb-3">
                        <label for="enddate">Deadline Date</label>
                        <input type="date" name="enddate" id="enddate" class="form-control datetimepicker-input datetimepicker-date">
                    </div>
                </div>
                <div class="col-2">
                    <div class="mb-3">
                        <label for="time_closed">Deadline Time</label>
                        <input type="time" name="time_closed" id="time_closed" class="form-control datetimepicker-input datetimepicker-date">
                    </div>
                </div>
            </div>
        
            <div class="d-flex justify-content-end">
                {{ form.submit(class="btn submit-button text-dark") }}
            </div>
        </form>
    </div>
{% endblock %}