{% extends "dashboard.html" %}

{% block content %}
  <div class="container mt-5 rounded p-5 bg-container">
      <h1 class="text-light">Quiz Form</h1>
      <form action="" method="POST" class="form-properties">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingQuizDetails">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseQuizDetails" aria-expanded="true" aria-controls="panelsStayOpen-collapseQuizDetails">
                Quiz Details
              </button>
            </h2>
            <div id="panelsStayOpen-collapseQuizDetails" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingQuizDetails">
              <div class="accordion-body bg-accordion">
                <!-- Quiz Form  -->
                {{ form.hidden_tag() }}
                {{ form.title.label(class='text-dark') }}
                {{ form.title(class='text-dark ', required='required') }}
                <p class="text-muted">Note: The description field has a character limit of 1000 characters</p>
                <div class="form-floating">
                  {{ form.description(class='text-dark, form-control', required='required') }}
                  {{ form.description.label(class='text-dark') }}
                </div>
                
                {{ form.category.label(class='text-dark') }}
                {{ form.category(class='text-dark form-select form-select-lg mt-1', required='required') }}
                {{ form.quiztype.label(class='text-dark') }}
                {{ form.quiztype(class='text-dark form-select form-select-lg mt-1', required='required') }}
                <p class="text-muted">Note: You can only change this once. After submitting the quiz type, you will not be able to change it again in the future.</p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingQuizTimeSettings">
              <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseQuizTimeSettings" aria-expanded="false" aria-controls="panelsStayOpen-collapseQuizTimeSettings">
                Quiz Time Settings
              </button>
            </h2>
            <div id="panelsStayOpen-collapseQuizTimeSettings" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingQuizTimeSettings">
              <div class="accordion-body bg-accordion">
                  <!-- Quiz Form  -->
                  <div class="row">
                    <div class="col-2" >
                        <div class="mb-3">
                            <label for="startdate">Start Date</label>
                            <input type="date" id="startdate" name="startdate" class="form-control datetimepicker-input datetimepicker-date" required>
                        </div>
                    </div>
                    <div class="col-2">
                      <div class="mb-3">
                          <label for="enddate">End Date</label>
                          <input type="date" name="enddate" id="enddate" class="form-control datetimepicker-input datetimepicker-date" required>
                      </div>
                    </div>
                    <div class="col-8" style="line-height: 18px !important;">
                      <label class="label-margin" for="">Time Limit</label>
                      {{ form.timelimit(class="timelimit") }}
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-8">
                        <label class="" for="">Number of Attempts</label>
                        {{ form.attempt(class='timelimit') }}
                      </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingQuizScore">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseQuizScore" aria-expanded="false" aria-controls="panelsStayOpen-collapseQuizScore">
                Quiz Score
              </button>
            </h2>
            <div id="panelsStayOpen-collapseQuizScore" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingQuizScore">
              <div class="accordion-body bg-accordion">
                <!-- Quiz Form  -->
                <label for="rbtn">Points Per Item:</label>
                <div class="rbtn" >
                  {{ form.points(class="timelimit")}}
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingVisibility">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseVisibility" aria-expanded="false" aria-controls="panelsStayOpen-collapseVisibility">
                Quiz Visibility
              </button>
            </h2>
            <div id="panelsStayOpen-collapseVisibility" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingVisibility">
              <div class="accordion-body bg-accordion">
                <div class="row">
                  <div class="col">
                    {{ form.quizcode.label()}}
                    {{ form.quizcode()}}
                    <button type="button" class="btn btn-secondary" onclick='copyText("{{ quizcode }}")'><i class="fa-regular fa-clipboard me-1"></i>Copy Code</button>
                    <button type="button" class="btn btn-primary" onclick='shareText("{{ quizcode }}")'><i class="fa-regular fa-share-from-square me-1"></i>Share</button>
                  </div>
                  <div class="col">
                    <label for="visible">Visibility:</label>
                    <div class="visible">
                      {{ form.visibility(class="timelimit")}}
                    </div>
                    <p class="text-muted mt-1">Note: Selecting public will make the item visible to everyone while selecting private will make the item visible only to you and people that has the quiz code</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          {{ form.submit(class="btn submit-button text-dark") }}
        </div>
      </form>
  </div>
  
  <script src="{{ url_for('static', filename='clipboard.js') }}"></script> 
  <script src="{{ url_for('static', filename='jquery-3.6.3.min.js') }}"></script>    
{% endblock %}