{% extends "dashboard.html" %}

{% block content %}
  <div class="container mt-5 bg-night p-3 rounded">
    <div class="row">
      <div class="col-6"><h1 class="text-start">Live Logs</h1></div>
      <div class="col-6">
        <div class="d-flex justify-content-end">
          <!-- <button class="btn btn-warning d-print-none">Print PDF</button> -->
          <button type="button" class="btn btn-warning d-print-none" data-bs-toggle="modal" data-bs-target="#ExportModal">
            <i class="fa-solid fa-file-export me-1"></i> Export Logs
          </button>
        </div>
      </div>
    </div>
    
    <div class="table-responsive">
      <table class="table bg-night">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Fullname</th>
            <th>Time Log</th>
            <th>Activity</th>
          </tr>
        </thead>
        <tbody>
          {% for logs in log %}
            <tr>
              <td>{{ logs.user_id }}</td>
              <td>{{ logs.name}}</td>
              <td>{{ logs.logtime.strftime('%Y-%m-%d %H:%M %p') }}</td>
              <td>{{ logs.activity }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade d-print-none" id="ExportModal" tabindex="-1" aria-labelledby="ExportModalLabel" aria-hidden="true">
    <div class="modal-dialog d-print-none bg-night rounded">
      <div class="modal-content d-print-none bg-night">
        <div class="modal-header d-print-none bg-night">
          <h5 class="modal-title" id="ExportModalLabel">Export Logs</h5>
          <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-print-none bg-night">
          <div class="row">
            <div class="col">
              <p>Export All Logs</p>
                <a href="{{ url_for('auth.exalllogs') }}" class="btn btn-success me-1 d-print-none"><i class="fa-solid fa-file-csv me-1"></i>Excel</a>
                <!-- <a href="" class="btn btn-danger btn-pdf d-print-none"><i class="fa-solid fa-file-pdf"></i>PDF</a> -->
            </div>
            <div class="col">
              <p>Export Today Logs</p>
                <a href="{{ url_for('auth.extodaylog') }}" class="btn btn-success me-1 d-print-none"><i class="fa-solid fa-file-csv me-1"></i>Excel</a>
                <!-- <a href="" class="btn btn-danger btn-pdf d-print-none"><i class="fa-solid fa-file-pdf"></i>PDF</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script> -->
{% endblock %}
