{% extends "dashboard.html" %}

{% block title %}
  <title>Live Logs</title>
{% endblock %}

{% block content %}
  <div class="container mt-5 bg-container p-3 rounded" style="overflow:scroll; height:80%;">
    <div class="row">
      <div class="col-6"><h1 class="text-start text-light">Live Logs</h1></div>
      <div class="col-6">
        <div class="d-flex justify-content-end">
          <!-- <button class="btn btn-warning d-print-none">Print PDF</button> -->
          <button type="button" class="btn btn-success d-print-none" data-bs-toggle="modal" data-bs-target="#ExportModal">
            <i class="fa-solid fa-file-export me-1"></i> Download Logs
          </button>
        </div>
      </div>
    </div>
    
    <div class="table-responsive" >
      <table class="table bg-container text-light" >
        <thead>
          <tr>
            <th>User ID</th>
            <th>Fullname</th>
            <th>Time Log</th>
            <th>Activity</th>
          </tr>
        </thead>
        <tbody>
          {% for logs in log %}
            <tr>
              <td>{{ logs.user_id }}</td>
              <td>{{ logs.name}}</td>
              <td>{{ logs.logtime.strftime('%Y-%m-%d %H:%M %p') }}</td>
              <td>{{ logs.activity }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade d-print-none" id="ExportModal" tabindex="-1" aria-labelledby="ExportModalLabel" aria-hidden="true">
    <div class="modal-dialog d-print-none bg-container rounded">
      <div class="modal-content d-print-none bg-container">
        <div class="modal-header d-print-none bg-container">
          <h5 class="modal-title text-light" id="ExportModalLabel">Download Logs</h5>
          <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-print-none bg-container text-light">
          <form action="{{ url_for('auth.CustomDownload')}}">
            <div class="row">
              <div class="col">
                <label for="startdate">Start Date</label>
                <input type="date" id="startdate" name="startdate" class="form-control datetimepicker-input datetimepicker-date" required>
              </div>
              <div class="col">
                <label for="enddate">End Date</label>
                <input type="date" name="enddate" id="enddate" class="form-control datetimepicker-input datetimepicker-date" required>
              </div>
              <div class="col">
                <input class="btn btn-success" type="submit" value="Download">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script> -->
{% endblock %}
