{% extends "dashboard.html" %}

{% block content %}
  <div class="container mt-5 bg-night p-3 rounded">
    <!-- <div class="row">
      <div class="col-6">
        <h1 class="text-start">Activity Log</h1>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-end"> 
          <button class="btn submit-button text-dark me-1"> Filter</button>
          <button class="btn submit-button text-dark me-1"> Print</button>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-6"><h1 class="text-start">Activity Log</h1></div>
      <div class="col-6">
        <div class="d-flex justify-content-end">
          <button class="btn btn-warning d-print-none">Print PDF</button>
        </div>
      </div>
    </div>
    
    <div class="table-responsive">
      <table class="table bg-night">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Fullname</th>
            <th>Time Log</th>
            <th>Activity</th>
          </tr>
        </thead>
        <tbody>
          {% for logs in log %}
            <tr>
              <td>{{ logs.user_id }}</td>
              <td>{{ logs.name}}</td>
              <td>{{ logs.logtime }}</td>
              <td>{{ logs.activity }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

<script>
    document.querySelector(".btn-warning").addEventListener("click", function() {
    printTable();
  });
  
  function printTable() {
    window.print();
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js"></script>
{% endblock %}
