{% extends "dashboard.html" %}
{% block title %}
    
{% endblock %}

{% block content %}
    <div class="container p-3 mt-5 bg-container rounded">
        <div class="row">
            <div class="col-4">
                <div class="p-5">
                    <button class="btn shadow-none">
                        {% if current_user.imagepath %}
                            <img src="{{ url_for('static', filename='/profiles/' + current_user.imagepath )}}" alt="profileImg" style="width: 18rem; height: 18rem; border-radius: 50%;">
                        {% else %}
                            <img src="{{ url_for('static', filename='/profiles/default_image.png')}}" alt="profileImg">
                        {% endif %}
    
                        <h5 class="text-light mt-3">{{ existing_info['firstname']|title }}&nbsp;{{ existing_info['lastname'] }}</h5>
                        {% if current_user.usertype == 'user'%}
                            <h6 class="text-light">Student</h6>
                        {% elif current_user.usertype == 'admin'%}
                            <h6 class="text-light">Admin</h6>
                        {% elif current_user.usertype == 'professor'%}  
                            <h6 class="text-light">Teacher</h6>
                        {% endif %}
                    </button>
                </div>
                
            </div>
            <div class="col-8 text-light">
                <div id="profile">
                    <form action="" method="GET">
                        <label for="firstname" class="">Firstname</label>
                        <input class="firstname" id="firstname" type="text" placeholder="{{ existing_info['firstname'] }}" readonly >
                        <label for="lastname">Lastname</label>
                        <input class="lastname" id="lastname" type="text" placeholder="{{ existing_info['lastname'] }}" readonly >
                        <label for="Email">Email</label>
                        <input class="Email" id="Email" type="text" placeholder="{{ existing_info['email'] }}" readonly >
                        <label for="School">School</label>
                        <input type="text" class="" id="School" placeholder="{{ existing_info['school'] }}"  readonly>  
                        <div class="d-flex justify-content-end"> 
                            <button type="button" class="btn submit-button text-dark" onclick="HideUnHide()">Edit</button>
                        </div>
                    </form>
                </div>
                <div id="edit-profile" style="display: none;">
                    <form method="POST" action="{{ url_for('auth.profile')}}" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        {{ form.firstname.label(class='text-light') }}
                        {{ form.firstname(class='text-dark') }}
                        {{ form.lastname.label(class='text-light') }}
                        {{ form.lastname(class='text-dark') }}
                        {{ form.school.label(class='text-light')}}
                        {{ form.school(class='text-dark')}}
                        {{ form.email.label(class='text-light') }}
                        {{ form.email(class='text-dark') }}
                        {{ form.profile.label(class='text-light floatingInput') }}
                        {{ form.profile(class="form-control text-dark shadow-sm", id="floatingInput" , value=temp[3] if temp else '') }}
                        <div class="d-flex justify-content-end">
                            {{ form.submit(class='btn submit-button text-dark') }}
                            <button type="button" class="btn previous-button text-light ms-1 mt-2 p-2" onclick="HideUnHide()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function HideUnHide()
        {
            var profile = document.getElementById("profile");
            var edit_profile = document.getElementById("edit-profile");
            if( profile.style.display === "none")
            {
                profile.style.display = "block";
                edit_profile.style.display = "none";
            }
            else
            {
                profile.style.display = "none";
                edit_profile.style.display = "block";
            }
        }
    </script> 
{% endblock %}