{% extends "dashboard.html" %}

{% block title %} <title>Professor | Dashboard</title>{% endblock %}

{% block content %}
<div class="container">
  <h1 class="ms-4">Dashboard</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col-4 ">
          <div class="card bg-light-blue text-dark h-100">
              <img src="{{ url_for('static', filename='images/image6.jpg') }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Student Records</h5>
                <p class="card-text">The Student record module is a feature that allows professors or teachers to have quick access to view and download the results of the quiz</p>
              </div>
              <div class="card-footer">
                  <a href="{{ url_for('views.records') }}" class="btn btn btn-primary">View Records</a>
              </div>
            </div>
      </div>
      <div class="col-4 ">
          <div class="card bg-light-blue text-dark h-100">
              <img src="{{ url_for('static', filename='images/image2.jpg') }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Create Quiz</h5>
                <p class="card-text">It allows administrator and professors to create new quizzes, specifying various settings such as quiz details, quiz type, time limit and the visibility</p>
              </div>
              <div class="card-footer">
                  <a href="{{ url_for('views.createquiz')}}" class="btn btn btn-primary">Create Quiz</a>
              </div>
            </div>
      </div>
      <div class="col-4 ">
          <div class="card bg-light-blue text-dark h-100">
              <img src="{{ url_for('static', filename='images/image3.jpg') }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Quiz Bank</h5>
                <p class="card-text">Quiz Bank is a repository of pre-existing quizzes that can be used by users to quickly create new quizzes. It typically includes a search function to help users find the specific quizzes they need.</p>
              </div>
              <div class="card-footer">
                  <a href="{{ url_for('views.quizbank')}}" class="btn btn-primary">View Bank</a>
              </div>
            </div>
      </div>
  </div>
</div>
{% endblock %}