{% extends 'dashboard.html' %}

{% block content %}
 

    <div class="container bg-night mt-5 rounded">
        {% if category == '1' %}
            <form action="{{ url_for('views.matchingtype', quiz_code=quiz_code) }}" method="POST" class="p-3">
                <h1>Matching Type</h1>
                {{ form.hidden_tag() }}
                {{ form.question.label(class='text-light') }}
                {{ form.question(class='form-control text-dark')}}
                {{ form.choice1.label(class='text-light') }}
                {{ form.choice1(class='form-control text-dark')}}
                {{ form.choice2.label(class='text-light') }}
                {{ form.choice2(class='form-control text-dark')}}
                {{ form.choice3.label(class='text-light') }}
                {{ form.choice3(class='form-control text-dark')}}
                {{ form.choice4.label(class='text-light') }}
                {{ form.choice4(class='form-control text-dark')}}
                {{ form.answer.label(class='text-light') }}
                {{ form.answer(class='form-control text-dark')}}
                {{ form.submit(class='btn btn-warning') }}
            </form>
              
        {% elif category == '2' %}
            <form action="{{ url_for('views.fillintheblanks', quiz_code=quiz_code)}}" method="POST" class="p-3">
                <h1>Fill in the blanks </h1>
                {{ form.hidden_tag() }}
                {{ form.question.label(class='text-light') }}
                {{ form.question(class='form-control text-dark')}}
                {{ form.answer.label(class='text-light') }}
                {{ form.answer(class='form-control text-dark')}}
                {{ form.submit(class='btn btn-warning text-dark') }}
            </form>
        {% elif category == '3' %}
            <form action="{{ url_for('views.trueorfalse', quiz_code=quiz_code) }}" method="POST" class="p-3"> 
                <h1>True or False</h1>
                {{ form.hidden_tag() }}
                {{ form.question.label(class='text-light') }}
                {{ form.question(class='form-control text-dark')}}
                {{ form.answer.label() }}
                {{ form.answer()}}
                {{ form.submit(class='btn btn-warning text-dark') }}
            </form>
        {% else %}
            <h5>There is an error on your category</h5>
        {% endif %}
    </div>
   
{% endblock %}