{% extends 'dashboard.html' %}

{% block content %}
    <div class="container mt-5 rounded">
        {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %} 
            {% for category, message in messages %}
                {% if category == 'danger' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% elif category == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% else %}  
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                        </svg>
                        {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% endif %}
            {% endfor %}
        {% endif%}
        {% endwith%}
    </div>

    <div class="container bg-night mt-5 rounded">
        {% if category == '1' %}
            <form action="{{ url_for('views.matchingtype') }}" method="POST" class="p-3">
                <h1>Matching Type</h1>
                {{ form.hidden_tag() }}
                {{ form.question.label(class='text-light') }}
                {{ form.question(class='form-control text-dark')}}
                {{ form.choice1.label(class='text-light') }}
                {{ form.choice1(class='form-control text-dark')}}
                {{ form.choice2.label(class='text-light') }}
                {{ form.choice2(class='form-control text-dark')}}
                {{ form.choice3.label(class='text-light') }}
                {{ form.choice3(class='form-control text-dark')}}
                {{ form.choice4.label(class='text-light') }}
                {{ form.choice4(class='form-control text-dark')}}
                {{ form.answer.label(class='text-light') }}
                {{ form.answer(class='form-control text-dark')}}
                {{ form.submit(class='btn btn-warning') }}
            </form>
              
        {% elif category == '2' %}
            <form action="{{ url_for('views.fillintheblanks')}}" method="POST" class="p-3">
                <h1>Fill in the blanks </h1>
                {{ form.hidden_tag() }}
                {{ form.question.label(class='text-light') }}
                {{ form.question(class='form-control text-dark')}}
                {{ form.answer.label(class='text-light') }}
                {{ form.answer(class='form-control text-dark')}}
                {{ form.submit(class='btn btn-warning text-dark') }}
            </form>
        {% elif category == '3' %}
            <form action="{{ url_for('views.trueorfalse') }}" method="POST" class="p-3"> 
                <h1>True or False</h1>
                {{ form.hidden_tag() }}
                {{ form.question.label(class='text-light') }}
                {{ form.question(class='form-control text-dark')}}
                {{ form.answer.label() }}
                {{ form.answer()}}
                {{ form.submit(class='btn btn-warning text-dark') }}
            </form>
        {% else %}
            <h5>There is an error on your category</h5>
        {% endif %}
    </div>
   
{% endblock %}