{% extends 'dashboard.html' %}

{% block title %}
    <!-- <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script> --> 
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='checkcamera.js')}}"></script>
    <script src="{{ url_for('static', filename='jquery-3.6.3.min.js')}}"></script>
    <script src="{{ url_for('static', filename='pages.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='radio.css') }}">
    <script src="{{ url_for('static', filename='quiz_countdown.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz_countdown.css') }}">

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"
        integrity="sha512-90vH1Z83AJY9DmlWa8WkjkV79yfS2n2Oxhsi2dZbIv0nC4E6m5AbH8Nh156kkM7JePmqD6tcZsfad1ueoaovww=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/3.2.0/async.min.js"
        integrity="sha512-6K6+H87tLdCWvY5ml9ZQXLRlPlDEt8uXmtELhuJRgFyEDv6JvndWHg3jadJuBVGPEhhA2AAt+ROMC2V7EvTIWw=="
        crossorigin="anonymous"></script> 
    

    <script src="https://cdn.roboflow.com/0.2.22/roboflow.js"></script>

    <script src="{{ url_for('static', filename='obj_detection_copy.js') }}"></script> 

{% endblock %}
{% block content %}
    
    <div id="countdown-overlay">
        <div id="countdown-container">
        <span id="countdown-number">5</span>
        </div>
    </div>
    
 
    <div class="show-div container-fluid mt-5 bg-container p-5 rounded">
        <div class="row">
            <div class="col">
                <h1 class="text-light"> {{ quiz.title }}</h1>
            </div>
            <div class="col d-flex justify-content-end">
                <h5 class="text-light"><Strong>Time Limit:</Strong></h5>&nbsp;
                <h5 class="text-light" id="timer"></h5>
            </div>
        </div>
        <div class="row">
            <div class="col bg-container p-3">
                <div class="loading">
                    <video id="video" width="100%" height="auto" autoplay muted playsinline style='border-radius: 10px;'></video>
                    <div id="fps"></div>
                </div>
            </div>
            <div class="col d-grid gap-2 quiz">
                <div class="divs">
                    <form action="{{ url_for('views.result', quizcode=quizcode, quiztype=quiztype)}}" method="POST">
                        {% for question in questions %}
                            {% if quiztype == '1' %}
                                <div class="question set{{loop.index}}">
                                    <h1 class="text-light">{{ loop.index}}.&nbsp;{{ question.question}}</h1>
                                    <div class="row">
                                        <div class="col">
                                            <input type="radio" class="btn-radio" id="{{question.id}}-choice1" name="student_answer{{question.id}}" value="{{ question.choice1 }}">
                                            <label for="{{question.id}}-choice1">A.&nbsp;{{ question.choice1 }}</label>
                                        </div>
                                        <div class="col">
                                            <input type="radio" id="{{question.id}}-choice2" name="student_answer{{question.id}}" value="{{ question.choice2 }}">
                                            <label for="{{question.id}}-choice2">B.&nbsp;{{ question.choice2 }}</label>     
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <input type="radio" id="{{question.id}}-choice3" name="student_answer{{question.id}}" value="{{ question.choice3 }}">
                                            <label for="{{question.id}}-choice3">C.&nbsp;{{ question.choice3 }}</label>
                                        </div>
                                        <div class="col">
                                            <input type="radio" id="{{question.id}}-choice4" name="student_answer{{question.id}}" value="{{ question.choice4 }}">
                                            <label for="{{question.id}}-choice4">D.&nbsp;{{ question.choice4 }}</label>
                                        </div>
                                    </div>
                                </div>
                            {% elif quiztype == '2' %}
                                <div class="question set{{loop.index}}"> 
                                    <h1 class="text-light">{{ loop.index}}.&nbsp;{{ question.question}}</h1>
                                    <input type="text" name="student_answer{{question.id}}" placeholder="Your Answer Here">
                                </div>
                            {% elif quiztype == '3' %}  
                                <div class="question set{{loop.index}}"> 
                                    <h1 class="text-light">{{ loop.index}}.&nbsp;{{ question.question}}</h1>
                                    <input type="radio" class="btn-radio" id="{{question.id}}-choice1" name="student_answer{{question.id}}" value="0">
                                    <label for="{{question.id}}-choice1">True</label>
                                    <input type="radio" class="btn-radio" id="{{question.id}}-choice2" name="student_answer{{question.id}}" value="1">
                                    <label for="{{question.id}}-choice2">False</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <a id="prev" class="btn submit-button text-dark mt-3">previous</a>
                        <a id="next" class="btn submit-button text-dark mt-3">next</a>
                        
                        <input type="text" hidden value="{{ question_count }}" name="total_no_question" id="total_no_question">
                        <input type="text" hidden value="{{ quizcode }}" name="quiz_code">
                        <div class="d-flex justify-content-end">
                            <input id="submit" type="submit" name="submit" class="btn submit-button text-dark" value="Submit Answers">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <script type="text/javascript">
        function preventBack() {
            window.history.forward(); 
        }
          
        setTimeout("preventBack()", 0);
          
        window.onunload = function () { null };
    </script>

    <!-- Time Limit -->
    <script>
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            var submitButton = document.getElementById('submit');
            var timerInterval = setInterval(function () {
                minutes = parseInt(timer / 60, 10);
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    clearInterval(timerInterval);
                    // submit the form
                    Swal.fire({
                        title: "Times Up!",
                        text: "You hit the time limit",
                        timer: 3000 // time in milliseconds
                    });
                    submitButton.click();
                }
            }, 1000);
        }
        // get the timelimit value from the HTML and convert it to seconds
        var timelimit = parseInt("{{ quiz.timelimit }}") * 60;

        // get the element where the timer will be displayed
        var display = document.querySelector('#timer');

        // start the timer
        startTimer(timelimit, display);
    </script>

<script type="text/javascript">
    var quiz_code = "{{ quiz.code }}";
    var tab_switching = ""
    document.addEventListener("visibilitychange", (event) => 
    {
        if (document.visibilityState == "visible") {
            
            tab_switching = "not detected to tab switching";
        } 
        else{
                //console.log("tab is inactive")
                //document.getElementById("tab-switching").value = "The user is detected to alt tab once";
                //tab_switching = "The user is detected to alt tab or switch tab once";
                tab_switching = 1;
                $.ajax(
                {
                    type:'POST',
                    contentType:'application/json;charset-utf-08',
                    dataType:'json',
                    url: 'http://127.0.0.1:5000/switchtabs?value=' + tab_switching + '&quiz_code=' + quiz_code,
                    success:function (data) {
                        var reply=data.reply;
                        if (reply=="success")
                        {
                            return;
                        }
                        else
                            {
                            alert("some error ocured in session agent")
                            }

                    }
                }
            );
        }
    });
</script>
{% endblock %}