{% extends "dashboard.html" %}
    
{% block title %} 
    
    <title>Quiz Bank</title>
    
{% endblock %}

{% block content %}

    <div class="container bg-container mt-5 rounded">
        <form action="{{ url_for('views.searchquiz') }}" method="POST" class="my-3">
            <div class="row">
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-10">
                        {{ form.search(class="text-dark")}}
                    </div>
                    <div class="col-2">
                        {{ form.submit(class="btn btn-warning")}}
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="container bg-container mt-5 rounded p-3" style="overflow:scroll; height:50%;"> 
        <h1 class="text-light ms-4">Quiz Bank</h1>
        <div class="row">
            {% for quiz, firstname, lastname in quiz_list if quiz.visibility != 2 %}
                <div class="col-md-3 col-sm-6 col-12">
                    <button class="btn text-start shadow-none"  data-bs-toggle="modal" data-bs-target="#quiz{{ quiz.id }}">
                        <div class="card bg-accordion" style="width: 18rem;">
                            <img src="{{ url_for('views.images', filename='quiz.jpg') }}" class="card-img-top" alt="quiz.jpg">
                            <div class="card-body">
                                <h5 class="card-text title-design">{{ quiz.title }}</h5>
                            </div>
                        </div>
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="quiz{{ quiz.id }}" tabindex="-1" aria-labelledby="quiz{{ quiz.id }}label" aria-hidden="true">
                    <div class="modal-dialog rounded">
                        <div class="modal-content bg-container text-light">
                            <div class="modal-header">
                                <h6 class="modal-title" id="quiz{{ quiz.id }}label">{{ quiz.title}}</h6>
                                <!-- <h5 class="modal-title" id="quiz{{ quiz.id }}label">{{ quiz.title }}</h5> -->
                                <button type="button" class="btn-close bg-danger shadow-none" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ url_for('views.images', filename='quiz.jpg') }}" class="card-img-top rounded" alt="quiz.jpg">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h6 class="card-text">Create by:&nbsp;{{ firstname|title }}&nbsp;{{ lastname|title }}</h6>
                                        
                                        <h6>Category: 
                                            {% if quiz.category == '1' %}
                                                Language
                                            {% elif quiz.category == '2' %}
                                                Social Studies
                                            {% elif quiz.category == '3' %}
                                                Science
                                            {% elif quiz.category == '4' %}
                                                History
                                            {% elif quiz.category == '5' %}
                                                Science
                                            {% elif quiz.category == '6' %}
                                                Physics
                                            {% elif quiz.category == '7' %}
                                                Biology
                                            {% elif quiz.category == '8' %}
                                                Chemistry
                                            {% elif quiz.category == '9' %}
                                                Mathematics
                                            {% elif quiz.category == '10' %}
                                                Geography
                                            {% elif quiz.category == '11' %}
                                                Career and Technical Education
                                            {% elif quiz.category == '12' %}
                                                Creative Arts
                                            {% endif %}
                                        </h6>
                                        <h6>Quiz Type : 
                                            {% if quiz.quiztype=='1'%} 
                                                Multiple choice 
                                            {% elif quiz.quiztype=='2' %}
                                                Fill in the blanks
                                            {% elif quiz.quiztype=='3' %}
                                                True or False
                                            {% endif%}
                                        </h6>
                                        <h6>Attempts:&nbsp;
                                            {% if quiz.attempt == 0%}
                                                Infinite
                                            {% else %}
                                                {{ quiz.attempt }}
                                            {% endif %}
                                        </h6>
                                    </div>
                                    <div class="col-md-6">
                                        <h6>Start Date:&nbsp;{{ quiz.startdate}}</h6>
                                        <h6>End Date:&nbsp;{{ quiz.enddate}}</h6>
                                        <h6>Time Limit:&nbsp;{{ quiz.timelimit}}&nbsp;Minutes</h6>
                                        <h6>Visibility:&nbsp; 
                                            {% if quiz.visibility == 1 %}
                                               Public
                                            {% else %}
                                               Private
                                            {% endif %}
                                        </h6>
                                    </div>
                                    <h6>Description:</h6>
                                    <p class="card-text text-desc">{{ quiz.description }}</p>
                                    
                                </div>
                                <div class="modal-footer mt-3">
                                        <input type="text" id="quizcode{{ quiz.id }}" value="{{ quiz.code }}" id="quizcode" hidden>
                                       
                                        <button type="button" class="btn btn-secondary" onclick='copyText("{{ quiz.id }}")'><i class="fa-regular fa-clipboard me-1"></i>Copy Code</button>
                                        <button type="button" class="btn btn-primary" onclick='shareText("{{ quiz.id }}")'><i class="fa-regular fa-share-from-square me-1"></i>Share</button>
                                    {% if current_user.id == quiz.author_id %}
                                        <a href="{{ url_for('views.quizbankedit', quizcode=quiz.code, quiztype=quiz.quiztype)}}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square me-1"></i>Edit</a>
                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#quizdelete{{quiz.id}}"><i class="fa-solid fa-trash me-1"></i>Remove</button>
                                    {% elif current_user.id != quiz.author_id %}
                                        <a href="{{ url_for('views.clonequiz', quizid=quiz.id, quizcode=quiz.code)}}" class="btn btn-info"><i class="fa-regular fa-clone me-1"></i>Copy Quiz</a>
                                    {% endif %}
                                </div>
                                {% if current_user.id == quiz.author_id%}
                                <div class="modal-footer mt-3">
                                    <a href="{{ url_for('views.monitoring', quizcode=quiz.code, quiztype=quiz.quiztype)}}" class="btn btn-success"><i class="fa-solid fa-desktop me-1"></i>Monitor</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="quizdelete{{quiz.id}}" tabindex="-1" aria-labelledby="quizdelete{{quiz.id}}Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content bg-container text-light">
                            <div class="modal-header">
                                <h5 class="modal-title bg-container" id="quizdelete{{quiz.id}}Label">Remove Quiz</h5>
                                <button type="button" class="btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body bg-container">
                                Removing this will make the quiz no longer available to all users
                                are you sure you want to remove it?
                            </div>
                            <div class="modal-footer bg-container">
                                <a href="{{ url_for('views.quizdelete', quiz_code=quiz.code, quiztype=quiz.category )}}" class="btn btn-danger"><i class="fa-solid fa-trash me-1"></i>Remove</a>
                            </div>
                        </div>
                    </div>
                </div>  
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='clipboard.js') }}"></script> 
    <script src="{{ url_for('static', filename='jquery-3.6.3.min.js') }}"></script>    
{% endblock %}

