{% extends "dashboard.html" %}

{% block content %}
<div class="container mt-5 rounded bg-night p-5">
  <div class="accordion" id="accordionExample">
    <!-- 1st Main Accordion -->
    <div class="accordion-item bg-night">
      <h2 class="accordion-header bg-night" id="headingTwo">
        <button class="accordion-button collapsed bg-night" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h1>Quiz Form</h1>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body bg-night">
          <form action="{{ url_for('views.editquiz', quizcode=quizcode, quiztype=quiztype)}}" method="POST" class="form-properties">
            <p class="text-muted ms-1">Note: leave the form empty if you dont want to change anything here</p>
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item bg-night">
                <h2 class="accordion-header" id="panelsStayOpen-headingQuizDetails">
                  <button class="accordion-button bg-night" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseQuizDetails" aria-expanded="true" aria-controls="panelsStayOpen-collapseQuizDetails">
                    Quiz Details
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseQuizDetails" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingQuizDetails">
                  <div class="accordion-body bg-night">
                    <!-- Quiz Form  -->
                    {{ quizform.hidden_tag() }}
                    {{ quizform.title.label(class='text-light') }}
                    {{ quizform.title(class='text-dark', required='required') }}
                    <p class="text-muted">Note: The description field has a character limit of 1000 characters</p>
                    <div class="form-floating">
                      {{ quizform.description(class='text-dark, form-control', required='required') }}
                      {{ quizform.description.label(class='text-dark') }}
                    </div>
                    {{ quizform.category.label(class='text-light') }}
                    {{ quizform.category(class='text-dark form-select form-select-lg mt-1', required='required') }}
                    <p class="text-muted mt-2">Note: you can no longer change the quiz type</p>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-night">
                <h2 class="accordion-header" id="panelsStayOpen-headingQuizTimeSettings">
                  <button class="accordion-button collapsed bg-night" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseQuizTimeSettings" aria-expanded="false" aria-controls="panelsStayOpen-collapseQuizTimeSettings">
                    Quiz Time Settings
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseQuizTimeSettings" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingQuizTimeSettings">
                  <div class="accordion-body bg-night">
                      <!-- Quiz Form  -->
                      <div class="row">
                        <div class="col-2" >
                            <div class="mb-3">
                                <label for="startdate">Start Date</label>
                                <input type="date" id="startdate" name="startdate" class="form-control datetimepicker-input datetimepicker-date" required>
                            </div>
                        </div>
                        <div class="col-2">
                          <div class="mb-3">
                              <label for="enddate">End Date</label>
                              <input type="date" name="enddate" id="enddate" class="form-control datetimepicker-input datetimepicker-date" required>
                          </div>
                        </div>
                        <div class="col-8" style="line-height: 18px !important;">
                          <label class="label-margin" for="">Time Limit</label>
                          {{ quizform.timelimit(class="timelimit") }}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-9">
                          <label class="" for="">Number of Attempts</label>
                          {{ quizform.attempt(class='timelimit') }}
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="accordion-item bg-night">
                <h2 class="accordion-header" id="panelsStayOpen-headingQuizScore">
                  <button class="accordion-button collapsed bg-night" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseQuizScore" aria-expanded="false" aria-controls="panelsStayOpen-collapseQuizScore">
                    Quiz Score
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseQuizScore" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingQuizScore">
                  <div class="accordion-body bg-night">
                    <!-- Quiz Form  -->
                    <label for="rbtn">Points Per Item:</label>
                    <div class="rbtn" >
                      {{ quizform.points(class="timelimit")}}
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-night">
                <h2 class="accordion-header" id="panelsStayOpen-headingVisibility">
                  <button class="accordion-button collapsed bg-night" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseVisibility" aria-expanded="false" aria-controls="panelsStayOpen-collapseVisibility">
                    Quiz Visibility
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseVisibility" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingVisibility">
                  <div class="accordion-body bg-night">
                    <div class="row">
                      <div class="col">
                        {{ quizform.quizcode.label()}}
                        {{ quizform.quizcode()}}
                        <button type="button" class="btn btn-secondary" onclick='copyCode("{{ quizcode }}")'><i class="fa-regular fa-clipboard me-1"></i>Copy Code</button>
                        <button type="button" class="btn btn-primary" onclick='shareCode("{{ quizcode }}")'><i class="fa-regular fa-share-from-square me-1"></i>Share</button>
                      </div>
                      <div class="col">
                        <label for="visible">Visibility:</label>
                        <div class="visible">
                          {{ quizform.visibility(class="timelimit")}}
                        </div>
                        <p class="text-muted mt-1">Note: Selecting public will make the item visible to everyone while selecting private will make the item visible only to you and people that has the quiz code</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              {{ quizform.submit(class="btn submit-button text-dark") }}
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- 2nd Main Accordion -->
    <div class="accordion-item bg-night">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed bg-night" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h1>Quiz Questions</h1>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse bg-night" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body bg-night">
          <div class="accordion" id="accordionQuestion">
            {% for question in questions %}
              <div class="accordion-item bg-night">
                <h2 class="accordion-header" id="headingQuestions">
                  <button class="accordion-button collapsed bg-night" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuestion{{question.id}}" aria-expanded="false" aria-controls="collapseQuestion{{question.id}}">
                    <Strong>{{loop.index}}.&nbsp;</Strong>{{ question.question }}
                  </button>
                </h2>
                <div id="collapseQuestion{{question.id}}" class="accordion-collapse collapse bg-night" aria-labelledby="headingQuestions" data-bs-parent="#accordionQuestion">
                  <div class="accordion-body">
                      {% if quiztype == '1' %}
                        
                        <div class="row">
                          <div class="col-6">A. {{ question.choice1 }} </div>
                          <div class="col-6">B. {{ question.choice2 }} </div>
                        </div>
                        <div class="row">
                          <div class="col-6">C. {{ question.choice3 }}</div>
                          <div class="col-6">D. {{ question.choice4}}</div>
                        </div>
                        <Strong>Answer:&nbsp</Strong>{{ question.answer }} 
                      {% elif quiztype == '2' %}
                        <Strong>Answer:&nbsp</Strong>{{ question.answer }} 
                      {% elif quiztype == '3' %}
                        <Strong>Answer:&nbsp</Strong>{{ question.answer }}
                      {% endif %}
                    <div class="mt-3">
                      <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit_question{{question.id}}"> Edit </button> 
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_question{{question.id}}"> Delete </button> 
                    </div>
                  </div>
                </div>
              </div>
        
              <!--Edit Modal -->
              <div class="modal fade" id="edit_question{{question.id}}" tabindex="-1" aria-labelledby="edit_question{{question.id}}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content bg-night">
                    <div class="modal-header">
                      <h5 class="modal-title" id="edit_question{{question.id}}Label">
                        {% if quiztype == '1' %}
                          <h5>Multiple Choice</h5>
                        {% elif quiztype == '2' %}
                          <h5>Fill in the blanks</h5>
                        {% elif quiztype == '3' %}
                          <h5>True or False</h5>
                        {% endif %}
                      </h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- check the quiz type -->
                      {% if quiztype == '1' %}
                        <form action="{{ url_for('views.editquestions', quizcode=quizcode, quiztype=quiztype, questionid=question.id) }}" method="POST" class="p-3">
                          {{ form.hidden_tag() }}
                          {{ form.question.label(class='text-light') }}
                          {{ form.question(class='form-control text-dark')}}
                          {{ form.choice1.label(class='text-light') }}
                          {{ form.choice1(class='form-control text-dark')}}
                          {{ form.choice2.label(class='text-light') }}
                          {{ form.choice2(class='form-control text-dark')}}
                          {{ form.choice3.label(class='text-light') }}
                          {{ form.choice3(class='form-control text-dark')}}
                          {{ form.choice4.label(class='text-light') }}
                          {{ form.choice4(class='form-control text-dark')}}
                          {{ form.answer.label(class='text-light') }}
                          {{ form.answer(class='form-control text-dark')}}
                          {{ form.submit(class='btn btn-warning') }}
                        </form>
                      {% elif quiztype == '2' %}
                        <form action="{{ url_for('views.editquestions', quizcode=quizcode, quiztype=quiztype, questionid=question.id) }}" method="POST" class="p-3">
                          {{ form.hidden_tag() }}
                          {{ form.question.label(class='text-light') }}
                          {{ form.question(class='form-control text-dark')}}
                          {{ form.answer.label(class='text-light') }}
                          {{ form.answer(class='form-control text-dark')}}
                          {{ form.submit(class='btn btn-warning text-dark') }}
                        </form>
                      {% elif quiztype == '3' %}
                        <form action="{{ url_for('views.editquestions', quizcode=quizcode, quiztype=quiztype, questionid=question.id) }}" method="POST" class="p-3"> 
                          {{ form.hidden_tag() }}
                          {{ form.question.label(class='text-light') }}
                          {{ form.question(class='form-control text-dark')}}
                          <label for="">Select an Option</label> <br>
                          {{ form.answer(class="timelimit mb-1 p-5" )}}
                          {{ form.submit(class='btn btn-warning text-dark') }}
                        </form>
                      {% else %}
                        <h5>There is an error on your category</h5>
                      {% endif %}
                    </div>
                    <!-- <div class="modal-footer">
                    
                      <button type="button" class="btn btn-primary">Save changes</button> 
                    </div> -->
                  </div>
                </div>
              </div>
        
              <!--Delete Modal -->
              <div class="modal fade" id="delete_question{{question.id}}" tabindex="-1" aria-labelledby="delete_question{{question.id}}" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content bg-night">
                    <div class="modal-header">
                      <h5 class="modal-title" id="delete_question{{question.id}}Label">Warning</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you really want to remove this question? <br>
                        {{loop.index}}. {{question.question}} <br>
                        <Strong>Answer:&nbsp</Strong>{{ question.answer }} 
                    </div>
                    <div class="modal-footer">
                      <a href="{{ url_for('views.deletequestion',  quizcode=quizcode, quiztype=quiztype, questionid=question.id) }}" class="btn btn-danger">Remove</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            
            <div class="accordion-item bg-night">
              <h2 class="accordion-header" id="headingAddQuestions">
                <button class="accordion-button collapsed bg-night" type="button" data-bs-toggle="collapse" data-bs-target="#AddQuestions" aria-expanded="false" aria-controls="AddQuestions">
                  <Strong>Add New Questions</Strong>
                </button>
              </h2>
              <div id="AddQuestions" class="accordion-collapse collapse" aria-labelledby="headingAddQuestions" data-bs-parent="#accordionQuestion">
                <div class="accordion-body bg-night">
                  <!-- Add Question form here -->
                  {% if quiztype == '1' %}
                        <form action="{{ url_for('views.addquestions',  quizcode=quizcode, quiztype=quiztype )}}" method="POST" class="p-3">
                          {{ form.hidden_tag() }}
                          {{ form.question.label(class='text-light') }}
                          {{ form.question(class='form-control text-dark')}}
                          {{ form.choice1.label(class='text-light') }}
                          {{ form.choice1(class='form-control text-dark')}}
                          {{ form.choice2.label(class='text-light') }}
                          {{ form.choice2(class='form-control text-dark')}}
                          {{ form.choice3.label(class='text-light') }}
                          {{ form.choice3(class='form-control text-dark')}}
                          {{ form.choice4.label(class='text-light') }}
                          {{ form.choice4(class='form-control text-dark')}}
                          {{ form.answer.label(class='text-light') }}
                          {{ form.answer(class='form-control text-dark')}}
                          <div class="d-flex justify-content-end">
                            {{ form.submit(class='class="btn submit-button text-dark"') }}
                          </div>
                        </form>
                      {% elif quiztype == '2' %}
                        <form action="{{ url_for('views.addquestions',  quizcode=quizcode, quiztype=quiztype)}}" method="POST" class="p-3">
                          <h1>Fill in the blanks </h1>
                          {{ form.hidden_tag() }}
                          {{ form.question.label(class='text-light') }}
                          {{ form.question(class='form-control text-dark')}}
                          {{ form.answer.label(class='text-light') }}
                          {{ form.answer(class='form-control text-dark')}}
                          <div class="d-flex justify-content-end">
                            {{ form.submit(class='class="btn submit-button text-dark"') }}
                          </div>
                        </form>
                      {% elif quiztype == '3' %}
                        <form action="{{ url_for('views.addquestions',  quizcode=quizcode, quiztype=quiztype)}}" method="POST" class="p-3"> 
                          <h1>True or False</h1>
                          {{ form.hidden_tag() }}
                          {{ form.question.label(class='text-light') }}
                          {{ form.question(class='form-control text-dark')}}
                          <label for="">Select an Option</label><br>
                          {{ form.answer(class="timelimit")}}
                          <div class="d-flex justify-content-end">
                            {{ form.submit(class='class="btn submit-button text-dark"') }}
                          </div>
                        </form>
                      {% else %}
                        <h5>There is an error on your category</h5>
                      {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='clipboard.js') }}"></script> 
<script src="{{ url_for('static', filename='jquery-3.6.3.min.js') }}"></script>  

{% endblock %}

