{% extends "dashboard.html" %}

{% block title %} 
<title>Student | Dashboard</title>
{% endblock %}
{% block content %}
      
    <div class="container bg-night mt-5 rounded">
        <form action="" method="POST" class="my-5">
            <div class="row">
                <div class="col-10"><input type="text" placeholder="Enter your code"></div>
                <div class="col-2"><input type="submit" value="Search"></div>
            </div>
        </form>
    </div>
    <div class="container bg-night mt-5 rounded">
        <h1 class="text-light">Quiz List</h1>
        <div class="list-group bg-night mb-2 rounded" style="border:none;"> 
            <a href="{{  url_for('views.quiz1') }}" class="list-group-item list-group-item-action bg-night card-design text-hover">
              <div class="d-flex w-100 justify-content-between"> 
                <h5 class="mb-1">Quiz Title</h5>
                <small>3 days ago &nbsp;
                </small>
              </div>
              <p class="mb-1">Some Quiz Decription Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              <small>Deadline </small>
            </a>    
            <div class="ms-auto p-2">
                <button class="btn-warning rounded">Edit</button>
                <button class="btn-danger rounded">Delete</button>
            </div>
        </div>
    </div>
{% endblock %}

<script src="../static/jquery-3.6.3.min.js"></script>