body{
    background-color: #181818;
}

.center {
    margin: auto;
    width: 50%;
    background-color: #202020;
    border-radius: 20px;
    padding: 10px;
}

.quiz-list{
    background-color: #202020;
    border-radius: 5px;
}

.quiz-box{
    background-color: #fcba03;
}

.row{
    margin: 10px 0px;
    padding: 10px 0;
    border-radius: 5px;
}



.txt-properties{
    padding: 20px 20px;
    color: white;
}
input[type=text], input[type=password], input[type=email]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;

}
input[type=submit]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #fcba03;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-properties, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus
{
 outline: none;
}

.links
{
    text-decoration: none !important;
    color: #fcba03 !important;
}

.links:hover{
    color: #fcba03 !important;
}

.img-center{
  margin: auto;
  padding: 10px;
}

h1 a.home-link{
    
    color: #FAB903 !important;
    text-decoration: none !important;
}
h1 a.home-link:hover{
    color: #fcba03 !important;
}



div a.home-link{
    color: #fcba03 !important;
    text-decoration: none !important;
}

div a.home-link:hover{
    color: #fcba03 !important;
}

.fa-egg-fried{
    width: 50px;
    height: 50px;
    color: #fcba03;
}

.rooms-container
{
    margin: auto;
    width: 50%;
    background-color: #181818;
    border-radius: 10px;
    padding: 10px;
    
}

.quiz-description
{
    text-indent: 5em;
    text-align: justify;
    text-justify: inter-word;
    color: white;
}

.card-design{
    background-color: #202020 !important;
    color: white;
    
}
a.card-design:hover{
    background-color: #202020 !important;
    border-color: #FAB903 !important;
    color: white !important;
}

.card-div{
    width: 18rem !important; 
    height: 400px !important;
}

.bg-night{
    background-color: #202020 !important;
    color: white !important;
}
a.text-hover:hover{
    color: #FAB903 !important;
}

.btn-links-hover:hover{
    background-color: #202020;
    border : 2px solid #FAB903;
    color: #FAB903;

}


/* .radio-section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.radio-item [type="radio"]{
    display: none;
}

.radio-item + .radio-item{
    margin-top: 15px;
}
.radio-item label{
    display: block;
    padding: 20px 60px;
    background: #181818;
    border:2px solid rgba(255,255,255,0.1);
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    min-width: 250px;
    white-space: nowrap;
    position: relative;
}
.radio-item label:after,
.radio-item label:before{
    content: "";
    position: absolute;
    border-radius: 50%;
}

.radio-item label:after{
    height: 20px;
    width: 20px;
    border:2px solid #FAB903;
    left: 20px;
    top: calc(50% - 12px);
}
.radio-item label:before{
    background: #fcba03;
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5px);
    transform: scale(5);
    transition: .4s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}
.radio-item [type="radio"]:checked ~ label{
    border-color: #fcba03;
}

.radio-item [type="radio"]:checked ~ label:before{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
} */

.submit-button{
    width: 200px !important;
    height: 50px !important;
    background-color: #FAB903 !important;
    color: #181818 !important; 
}

.submit-button:hover{
    width: 200px !important;
    height: 50px !important;
    background-color: #181818 !important;
    color: #FAB903 !important;
    border: 1px solid #FAB903 !important;   
}

.radio-button{
    display: block;
}

.radio-button:checked{
    border: 1px solid #FAB903;
}

.hidden {
    display: none;   
}

.custom-size{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: #fcba03;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-size{
    display: block;
    margin-top: 0em;

}

.submit-button-add{
    width: 100% !important;
    padding: 12px 20px !important;
    margin: 8px 0px !important;
    display: inline-block !important;
    background-color: #fcba03 !important;
    border: none !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
   
}
.submit-button-add:hover{
    outline: none;
}
.submit-button-add:focus{
    outline: none;
}

.table-custom-border{
    border: #181818 1px solid !important;
}

.bg-shade-18{
    background-color: #181818 !important;
    color: #ffffff !important;
}

.btn-active:focus
.btn-active:active{
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.modal-header, .modal-body, .modal-footer{
    border-color: #181818 !important;
}

/* .modal-dialog {
    max-width: 500px !important;
    height: 750px !important;
}
.modal-content {
    height: 100% !important;
    
    border-radius: 4px !important;
    border-radius: 0 !important;
} */

.text-desc{
    margin: 0;
    text-indent: 2rem;
    text-align: justify;
}

.text-note{
    margin: 0;
    text-align: justify;
}


/* hide the buttons and navbar whenever the user tries to print a table */
@media print {
    .navbar-nav {
      display: none;
    }
    
    .d-print-none {
      display: none;
    }
  }

.transition{
    transition: all .3s ease-out !important;
}

.timelimit {
    display: inline-flex !important;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
} 

.timelimit input[type="radio"]{
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    
  }
.timelimit ul{
    margin: 0px 0px !important;
    padding: 0px 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 0px !important;
}
.timelimit li{
    list-style: none;
    text-decoration: none;
    margin-right: 5px !important;
}  

.label-margin {
    margin: 0px 0px !important;
}
.timelimit label {
    display: table-cell !important;
    vertical-align: middle !important; 
    text-align: center !important;
    cursor: pointer !important;
    background-color: #454545 !important;
    color: white !important;
    padding: 5px 10px !important;
    border-radius: 3px !important;
    /* .transition; */
  }
.timelimit input[type="radio"]:checked + label{
    background-color: #FAB903 !important;
}

