.btn-radio, input[type="radio"]{
  border-radius: 20px !important;
  visibility: hidden !important;
  height: 0px !important;
  width: 100%  !important;
}

.btn-radio, label {
  display: table-cell !important;
  vertical-align: middle !important;
  text-align: center !important;
  cursor: pointer !important;
  background-color: #14274E;
  color: white !important;
  padding: 50px 100px !important;
  border-radius: 3px !important;
 
}


.btn-radio, input[type="radio"]:checked + label{
  background-color: #9BA4B4;
}

